{
    "presets": ["@babel/preset-env"], // preset-env: browser/navegador
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-async-to-generator"
    ]
}