
/* remover estilizações globais */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; /* fazer com q o padding nao aumente a width e height dos elementos */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
    color: #333;
}