.product-list {
    max-width: 700px; /* tela bem grande ficar centralizado */
    margin: 20px auto 0; /* 20px cima, auto na esquerda/direita para  ele centralizar e 0 embaixo */
    padding: 0 20px; /* reduzir a tela nao ficar grudado nas laterais */
}


.product-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.product-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-list article a:hover {
    background: #da552f;
    color: #fff;
}